doc/*/Monitoring*.rst
doc/*/modules.rst
doc/*/references.rst
doc/build
build

etc/makefile.ext
src/cpp/*.so
src/cpp/*.o
src/cpp/DQMCollector
src/cpp/visDQMIndex
src/cpp/visDQMRender
src/cpp/DQM/StreamSample.pb.*

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim swap files
*.swp

*.log
*.txt
.cache
*.c
*.cc
*.o
*.h
*.x
*.so
.idea/