<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head
  ><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
  /><meta name="keywords" content="CMS, DQM, data quality monitoring, histogram display"
  /><script><!--
    var SESSION_ID = "$SESSION_ID";
    var ROOTPATH = "$ROOTPATH";
    var HEADING = "$TITLE";
    var FULLROOTPATH = location.href
      .replace(/[?#].*/, "")
      .replace(ROOTPATH + "/session/" + SESSION_ID, "")
      + ROOTPATH;
  --></script
  ><title>$TITLE</title
 ></head

 ><body id='body' style="display:none" class="yui-skin-sam"
  ><div id="imgloader"></div
  ><div id="header"
    ><img id="cmslogo" src="$ROOTPATH/static/cms-progress.gif"
	    width="46" height="46" style="cursor: pointer"
    /><div id="serverid"
      >CMS DQM GUI ($HOSTNAME)<br
      /><span id='time'></span><br
      >$USER</div
    ><div id="subheader"
      ><div class="item" id="messages">Disconnected</div
      ><div class="item" id="errcontent"></div
    ></div
   /></div

   ><div id="canvas-group"
     ><div id="canvas-opts" style="display:none"></div
     ><div id="canvas-break"></div
     ><div id="canvas" class="canvas-layout"></div
   ></div

   ><style type="text/css">$CSS</style
   ><script type="text/javascript"><!-- $JAVASCRIPT --></script
 ></body
></html>
