<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head
  ><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
  /><meta name="keywords" content="CMS, DQM, data quality monitoring, histogram display"
  /><script><!--
    var SESSION_ID = "$SESSION_ID";
    var ROOTPATH = "$ROOTPATH";
    var HEADING = "$TITLE";
    var FULLROOTPATH = location.href
      .replace(/[?#].*/, "")
      .replace(ROOTPATH + "/session/" + SESSION_ID, "")
      + ROOTPATH;
  --></script
  ><title>$TITLE</title
 ></head

 ><body id='body' style="display:none" class="yui-skin-sam"
  ><div id="imgloader"></div
  ><div id="header"
    ><div id="header-tools-group" class="popup-panel" style="display:none"
      ><div class="hd">View Details</div
      ><div id="header-tools" class="bd"
        ><fieldset class='even'><legend>View Filter</legend
         ><div class='group'><label for='subhead-filter'>Show</label
          ><select id='subhead-filter' onchange='GUI.Plugin.DQMHeaderRow.setFilter(this.value)'
           ><option value='all' selected='selected'>All</option
           ><option value='alarms'>Alarms</option
           ><option value='nonalarms'>Non-alarms</option
	  ></select><label for='subhead-search'>Search</label
          ><input id='subhead-search' type='text' style='width:8em'
          /><span id='subhead-searchres' style='margin-left:5px'>0 objects</span
         ></div
        ></fieldset
        ><fieldset class='even'><legend>Strip Chart</legend
         ><div class='group'><label for='subhead-strip-type'>Display</label
          ><select id='subhead-strip-type'
	   ><option value='object'>Object</option

	   ><option value='x-mean'>X Mean</option
	   ><option value='x-mean-rms'>X Mean and RMS</option
	   ><option value='x-mean-min-max'>X Mean and Min-Max</option
	   ><option value='x-min'>X Min</option
	   ><option value='x-max'>X Max</option
	   ><option value='x-bins'>X Bins</option

	   ><option value='y-mean'>Y Mean</option
	   ><option value='y-mean-rms'>Y Mean and RMS</option
	   ><option value='y-mean-min-max'>Y Mean and Min-Max</option
	   ><option value='y-min'>Y Min</option
	   ><option value='y-max'>Y Max</option
	   ><option value='y-bins'>Y Bin Count</option

	   ><option value='z-mean'>Z Mean</option
	   ><option value='z-mean-rms'>Z Mean and RMS</option
	   ><option value='z-mean-min-max'>Z Mean and Min-Max</option
	   ><option value='z-min'>Z Min</option
	   ><option value='z-max'>Z Max</option
	   ><option value='z-bins'>Z Bin Count</option

	   ><option value='num-entries'>Number of entries</option
	   ><option value='num-bins'>Number of bins</option
	   ><option value='num-bytes'>Serialised size</option
          ></select><label for='subhead-strip-n'>for last</label
	  ><input id='subhead-strip-n' type='text' size='4'
	  /><span style='margin-left:5px'>runs</span
         ></div
         ><div class='group'><label for='subhead-strip-axis'>Axis</label
          ><select id='subhead-strip-axis'
	   ><option value='run'>Run Number or Version</option
	   ><option value='time'>Time of DQM Processing</option
          ></select><label for='subhead-strip-omit'>Omit</label
          ><select id='subhead-strip-omit'
	   ><option value='none'>Nothing</option
	   ><option value='empty'>Empty Histograms</option
          ></select
         ></div
        ></fieldset
        ><fieldset class='odd'><legend>Reference</legend
         ><div class='group'><label for='subhead-ref-show'>Show reference:</label
          ><select id='subhead-ref-show'
           ><option value='all'>For all</option
           ><option value='none'>For none</option
           ><option value='customise' selected='selected'>Customise</option
          ></select><label for='subhead-ref-position'>Position:</label
          ><select id='subhead-ref-position'
           ><option value='overlay' selected='selected'>Overlay</option
           ><option value='on-side'>On side</option
          ></select
         ></div><div class='group'><label for='subhead-ref-0-type'>1.</label
          ><select id='subhead-ref-0-type'
           ><option value='refobj' selected='selected'>Standard</option
           ><option value='other'>Other</option
           ><option value='none'>None</option
          ></select
          ><label>Run</label><input id='subhead-ref-0-run' size='6' type='text'
          /><label>Dataset</label><input id='subhead-ref-0-ds' size='16' type='text'
         ></div><div class='group'><label for='subhead-ref-1-type'>2.</label
          ><select id='subhead-ref-1-type'
           ><option value='refobj' selected='selected'>Standard</option
           ><option value='other'>Other</option
           ><option value='none'>None</option
          ></select
          ><label>Run</label><input id='subhead-ref-1-run' size='6' type='text'
          /><label>Dataset</label><input id='subhead-ref-1-ds' size='16' type='text'
         ></div><div class='group'><label for='subhead-ref-2-type'>3.</label
          ><select id='subhead-ref-2-type'
           ><option value='refobj' selected='selected'>Standard</option
           ><option value='other'>Other</option
           ><option value='none'>None</option
          ></select
          ><label>Run</label><input id='subhead-ref-2-run' size='6' type='text'
          /><label>Dataset</label><input id='subhead-ref-2-ds' size='16' type='text'
         /></div><div class='group'><label for='subhead-ref-3-type'>4.</label
          ><select id='subhead-ref-3-type'
           ><option value='refobj' selected='selected'>Standard</option
           ><option value='other'>Other</option
           ><option value='none'>None</option
          ></select
          ><label>Run</label><input id='subhead-ref-3-run' size='6' type='text'
          /><label>Dataset</label><input id='subhead-ref-3-ds' size='16' type='text'
         /></div
        ></fieldset
        ><fieldset class='odd'><legend>Messages</legend
         ><div id="messages">Disconnected</div
         ><div id="errcontent"></div
        ></fieldset
      ></div
      ><div class="ft"></div
    ></div
    ><img id="cmslogo" src="$ROOTPATH/static/cms-progress.gif"
	    width="46" height="46" style="cursor: pointer"
    /><div id="serverid"
      >CMS DQM GUI ($HOSTNAME)<br
      /><span id='time'></span><br
      >$USER, <a href="#" onclick="return GUI.Plugin.DQMHeaderRow.togglePanel()">View details</a
    ></div
    ><div id="subheader"></div
    ><div id="canvas-opts" style="display:none"></div
   /></div

   ><div id="canvas-group"
     ><div id="canvas-custom-group" class="popup-panel" style="display:none"
       ><div class="hd">Customise</div
       ><div id="canvas-custom" class="bd"></div
       ><div class="ft"></div
     ></div
     ><div id="canvas-help-group" class="popup-panel" style="display:none"
       ><div class="hd">Description</div
       ><div id="canvas-help" class="bd"></div
       ><div class="ft"></div
     ></div
     ><div id="canvas-break"></div
     ><div id="canvas-play" class="canvas-layout" style="display:none"></div
     ><div id="canvas" class="canvas-layout"></div
   ></div

   ><style type="text/css">$CSS</style
   ><script type="text/javascript"><!-- $JAVASCRIPT --></script
 ></body
></html>
