<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head
  ><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
  /><meta name="keywords" content="CMS, DQM, data quality monitoring, histogram display"
  /><title>$TITLE: bad page</title
 ></head

 ><body id='body'
  ><div id="header"
    ><div class="heading"
     ><div class="label">&nbsp;</div
     ><h1 class="title">Bad Page!</h1
    ></div
   /></div

   ><div id="content" style="clear: both; margin-top: 3em; position: absolute; top: 78px;"
    ><div id="messages"
      ><div class='alertbox'>
       <p>The page you accessed, $URL, is not a valid page or you
       may have tried to access content that belongs to someone else
       that was not made "public."</p

       ><p>Please <a href="$NEWSESSION">start a new session</a>, or
       <a href="https://savannah.cern.ch/bugs/?group=iguana">file a
       bug report</a> if you ended here by accessing a link in this
       service.</p
      ></div>
    ></div
   ></div

   ><div id="trailer"
    ><div><p>IGUANA DQM GUI</p></div
    ><div><p> @ $HOSTNAME</p></div
    ><div><p id='time'></p></div
  ></div

  ><style type="text/css">$CSS</style
 ></body
></html>
